<center style="background-color: #eaeaea; margin: 30px 0px; padding: 30px 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0,0,0,0.1);">
  <p style="font-size:18px; line-height: 1.5; color: #333; text-align: center;">Thanks for reading! 🙌🏽<br>
  Subscribe for free to receive new posts and support my work 🙂</p>
  <a class="button subscribe-button" href="/subscribe/" style="display: inline-block; background-color: #fe568a; border: 2px solid #b13c60; font-weight: 700; padding: 10px 20px; text-decoration: none; border-radius: 5px; transition: all 0.3s;">Subscribe</a>
</center>

<style>
  .subscribe-button {
    color: white;
  }

  .subscribe-button:hover {
    background-color: #b13c60;
    border-color: #fe568a;
    color: white;
  }
</style>
