<div class="buy-call-banner">
    <h2>Have Questions About This Topic?</h2>
    Hop on a <strong>10-minute Q&A Zoom call</strong> with me where I'll try to answer any questions you may have about this article.</p>
    <a class="buy-call-button" href="https://buymeacoffee.com/franciscoyira/e/269022" data-goatcounter-click="zoomcall-buymeacoffee.com">Buy for 10 USD</a>
</div>
<style>
  .buy-call-banner {
    background-color: #eaeaea;
    color: #292a2d;
    margin: 30px auto; /* Center the banner horizontally */
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text within the banner */
  }
  
  .buy-call-banner p {
    font-size: 18px;
    line-height: 1.5;
    color: #292a2d;
    margin-bottom: 15px; /* Add some space between the text and button */
  }
  
  .buy-call-button {
    display: inline-block;
    background-color: #fddd3b;
    color: #292a2d;
    border: 2px solid #d4bc36;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 800;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .buy-call-button:hover {
    background-color: #d4bc36;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  }
  </style>