<div class="subscribe-banner">
    <h2>Hey there, data enthusiast! 👋🏽</h2>
    Subscribe for free to not miss out on new posts</p>
    <a class="subscribe-button" href="/subscribe/">Subscribe</a>
</div>

<style>
.subscribe-banner {
  background-color: #eaeaea;
  margin: 30px auto; /* Center the banner horizontally */
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the text within the banner */
}

.subscribe-banner p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 15px; /* Add some space between the text and button */
}

.subscribe-button {
  display: inline-block;
  background-color: #fe568a;
  color: white;
  border: 2px solid #b13c60;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-weight: 800;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s;
}

.subscribe-button:hover {
  background-color: #b13c60;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
}
</style>
